@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-black;
  }
}

.App-header {
  @apply flex flex-col items-center justify-center min-h-screen text-white bg-black text-[calc(10px+2vmin)];
}

.App-link {
  @apply text-link;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App-logo {
  @apply h-[40vmin] pointer-events-none;
  animation: App-logo-spin 20s linear infinite;
}